.select-input {
  font-size: 25px;
  text-align: center;
  padding: 10px;
}

body{
  background-image: url("../../images/background.jpg");
  background-repeat:repeat;
}
.AnaEkran {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

